/001-vagrant-gerenciando-maquinas-virtuais/precise/.vagrant/
/001-vagrant-gerenciando-maquinas-virtuais/bionic/.vagrant/
/001-vagrant-gerenciando-maquinas-virtuais/bionic/ubuntu-bionic-18.04-cloudimg-console.log